<%- layout('layouts/boilerplate') %>

<div class="notes__form col">
    <h1 class="display-1">Edit Note</h1>
    <form action="/notes/<%= note._id %>?_method=PUT" method="POST">
      <fieldset class="form-floating mb-3">
          <input type="text" id="title" name="note[title]" class="form-control" value="<%= note.title %>" />
        <label for="title">Title</label>
      </fieldset>
      <fieldset class="form-floating mb-3">
          <textarea name="note[body]" id="body" class="form-control" style="height: 320px"><%= note.body %></textarea>
        <label for="body">Your Note</label>
      </fieldset>
      <button class="btn btn-success"><span class="material-symbols-outlined me-2 align-middle">
        save
        </span>Save Edit</button>
    </form>
    <form action="/notes/<%= note._id %>?_method=DELETE" method="POST" class="mt-3">
        <button class="btn btn-danger"><span class="material-symbols-outlined me-2 align-middle">
          delete
          </span>Delete Note</button>
    </form>
  </div>
