<%- layout ('layouts/boilerplate')%>
<div class="row my-5">
  <div class="notes__list col-8">
    <h1 class="display-1">Collected Notes</h1>
    <h6>
      All Subjects
      <% for(let subject of subjects) {%>
        <%= subject.title %>
        <% } %>
    </h6>
    <div class="row">
      <% for( let note of notes) { %>
      <div class="card col-4 my-2 mx-2 shadow border border-0">
        <div class="card-body d-flex flex-column justify-content-around">
          <h5 class="card-title"><%= note.title %></h5>
          <h6 class="card-subtitle mb-2">
            <%= moment(note.updatedAt).format('MMM Do YYYY'); %>
          </h6>
          <p
            class="card-text"
            style="
              display: -webkit-box;
              -webkit-line-clamp: 5;
              -webkit-box-orient: vertical;
              overflow: hidden;
            "
          >
            <%= note.body %>
          </p>
          <div class="card__footer">
            <a href="/notes/<%= note._id %>">
              <button type="button" class="btn btn-primary">
                <span class="material-symbols-outlined align-middle me-2">
                  expand_content
                </span>
                See More
              </button>
            </a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="notes__form col">
    <h1 class="display-1">Create New</h1>
    <form action="/notes" method="POST" class="needs-validation" novalidate>
      <fieldset class="form-floating mb-3">
        <input
          type="text"
          id="title"
          name="note[title]"
          class="form-control"
          required
        />
        <label for="title">Title</label>
      </fieldset>
      <fieldset class="form-floating mb-3">
        <textarea
          name="note[body]"
          id="body"
          class="form-control"
          style="height: 320px"
          required
        ></textarea>
        <label for="body">Your Note</label>
      </fieldset>
      <fieldset class="form-floating mb-3 d-flex">
        <select class="form-select" aria-label="Subject Selection" name="note[subject]" id="subject">
          <% 
            if(!subjects) { 
              console.log('none');
            } else {
              console.log('some');
              
            for(let subject of subjects) { %>
            <option value="<%= subject._id %>"><%= subject.title %></option>
            <% }} %>
        </select>
        <label for="subject" class="form-label"
        >Add this note to a subject?</label
      >
        <button class="btn btn-success" type="submit">Add Note</button>
      </fieldset>
    </form>
    <div
      class="btn btn-success align-middle d-block"
      id="addSubject"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      role="buton"
    >
      <span class="material-symbols-outlined"> library_add </span>
    </div>
    <!-- setting up modal for subject-->

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Add New Subject
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="test"
            ></button>
          </div>
          <div class="modal-body">
            <form
              action="/subjects"
              method="POST"
              class="needs-validation"
              novalidate
            >
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="subject[title]"
                  placeholder="clever name"
                  required
                />
                <label for="title" class="form-label"
                  >New Subject Title</label
                >
              </div>
              <div class="mb-3">
                <input type="color" name="subject[color]" id="color">
                <label for="color" class="form-label">chose</label>
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary me-4 mb-4">
                  Add Subject
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>